@model PartialView03.Models.HomeViewModel
<div>
    <sample itemid="@nameof(Model.Item01)">
        <div>
            <label class="element01">xxx</label>
            <input asp-for="Item01" attribute01="xxx">
        </div>
    </sample>
</div>